.item1 {
    margin: 10px;
    width: 50px;
     font-family: sans-serif;
    
}
.item2 {
    margin: 10px;
    width: 50px;
    text-decoration: none;
}
.item3 {
    margin: 10px;
    width: 50px;
    text-decoration: none;
}
.item4 {
    margin: 10px;
    width: 50px;
    text-decoration: none;
}

.img {
    background-color: red;
    margin: 10px;
    width: 50px;
    box-shadow: 0 0 1px 1px #efefef;
}

ol {
    color: red;
    background-color: white;
    text-align: center;
}

#contact {
    background-color: cornflowerblue;
    border: none;
    color: white;
    display: inline-block;
    font-weight: 300;
    padding: 10px 12px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
}


#fr {
    background-color: cornflowerblue;
    border: none;
    color: white;
    display: inline-block;
    font-weight: 300;
    padding: 10px 12px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
}


h1 {
    color: #00bfd8;
    box-sizing: border-box;
    font-size: 3rem;
    line-height: 3.5rem;
}

ul {
    text-align: center;
    top: 10px;
}



